@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* =================================================================
variables
================================================================= */
//Breakpoints
$sm-small: 320px;
$mid-small: 550px;
$end-small: 800px;
$max-width: 1400px;

//System variables
$primary: red;// #00B0FF;
// $primary-contrast: #005f90;
$accent: lightgray;
$textwht: #fff;
$textdrk: #333333;
$alert: red;

.calendar_wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  .month{
    width: 100%;
    top: 58px;
    z-index: 1;
    position: sticky;
    padding: 5px 0;
    // border-radius: 15px;
    background-color: $primary;
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .select-form{
      display: flex;
      align-items: center;
      justify-content: center;
      .date-selectors{
        display: block;
        background-image: none;
        .selector, .todays-day{
          margin-left: 10px;
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 45px;
          transition: all .2s ease-in-out;
          color: $textwht;

          @media screen and (max-width: $mid-small) {
            font-size: 35px;
          }

          option {
            color: $textdrk;
          }

          &:hover {
            @media screen and (min-width: $mid-small) {
              color: $textdrk;
              opacity: .4;
            }
          }
        }
        .todays-day {
          width: 65px;
        }
      }
      .settings {
          position: absolute;
          right: 10px;
          background: transparent;
          border: none;
          color: $textwht;
          font-size: 20px;
      }
      .account_selector{
        // height: 45px;
        width: 200px;
        margin-left: 5px;
        background-color: transparent;
        border: 1px solid $primary;
        outline: none;
        font-size: 20px;
        color: $textwht;
        transition: all .2s ease-in-out;
      }
    }
    .calendar-controls{
        display: flex;
        justify-content: space-around;
        margin: 15px 0 10px;
        width: 200px;
        @media screen and (max-width: $mid-small) {
          width: 140px;
        }

        @media screen and (max-width: $sm-small) {
          width: 100px;
        }
        .prev{

        }
        .next{
          // right: 0px;
        }
        .button{
            font-weight: bold;
            background: transparent;
            border: none;
            z-index: 2;
            transition: all .2s ease-in-out;
            font-size: 12px;
            position: relative;
            color: $textwht;

            &:before {
              position: absolute;
              font-size: 30px;
              left: -1.5px;
              top: -13.6px;

              @-moz-document url-prefix() {
                left: 2.25px;
              }
            }

            &.current {

            }

            &.entypo-calendar {
              &:before {
                font-weight: 100;
              }
            }

            @media screen and (max-width: $end-small) {
              outline: none;
            }
        }
        .current::before {
          font-weight: 100px;

        }
        .button:hover{
          @media screen and (min-width: $mid-small) {
            color: $textdrk;
            opacity: .4;
            transition: all .2s ease-in-out;
          }
        }
    }

    .weekday-initials {
      display: flex;
      justify-content: center;
      padding: 10px 0 5px 0;

      @media screen and (max-width: $end-small) {
        display: none !important;
      }

      div {
        width: 24%;
        text-align: center;
        opacity: .45;
      }
    }
  }

  .calendar-container{
    width: 100%;
    bottom: 0;
    top: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 42.5%;

    .days {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 36.7%;

      @media screen and (min-width: $end-small) {
        height: 41.7%;
      }
      
      h1{
          margin: 0;
          font-size: 25px;
          width: 100%;
          text-align: center;
      }
      .extra {
        display: none;
      }
      .num-box{
        box-sizing: border-box;
        width: 14.28%;
        height: auto;
        background-color: $textwht;
        position: relative;
        outline: none;
        border: 1px solid $accent;
        transition: all .1s ease-in-out;

        .close-day{
          display: none;
        }

        .num-container{
          float: left;
          border-radius: 100%;
          margin: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          transition: background-color .2s ease-in-out;
          display: none;
          .num{
            font-size: 30px;
            border-radius: 100%;
            color: $primary;
          }
        }
        .weekday {
            position: absolute;
            top: 0;
            width: 100%;
            margin-top: 7px;
            text-align: center;
            display: inline-block;
            color: #455A64;
            height: 29%;
            br{
                display: none;
            }
            .num-date{
                color: $primary;
                padding: 3px;
                border-radius: 100%;

                @media screen and (max-width: $end-small) {
                  font-size: 12px;
                }
            }
            .current-day{
                border: 2px solid $primary;
                background-color: $primary;
                color: $textwht;
            }
        }
        .main-info {
            position: absolute;
            top: 36%;
            left: 0;
            width: 100%;
            height: 64%;
        }
        .date-value{
            display: none;
        }

        &.dead_month_color {
          opacity: .5;
          pointer-events: none;
        }

        &.clicked-day {
          border: 1px solid $textdrk;
          transition: all .3s ease-in-out;
          animation-name: shrink;
          animation-duration: .5s;
          animation-timing-function: ease-in-out;
          .weekday{
            .num-date {
              font-weight: bolder;
              font-size: 20px;

              @media screen and (max-width: $end-small) {
                font-size: 14px;
              }
            }
          }

          // @media screen and (min-width: $end-small) {
            &.double-click {
              max-width: $end-small;
              margin: auto;
              z-index: 999;
              width: 100%;
              height: 50%;
              top: 50%;
              position: fixed;
              transform: translate(0, -50%);
              box-shadow: 1px 1px 10px $textdrk;
              transition: all .3s ease-in-out;
              animation-name: grow;
              animation-duration: .5s;
              animation-timing-function: ease-in-out;

              @media screen and (max-width: $end-small) {
                bottom: 0;
                box-shadow: none;
                top: 81px;
                margin: 0;
                height: auto;
                transform: translate(0, 0);
                border: 0;
              }

              @media screen and (max-width: $mid-small) {
                top: 110px;
              }

              .weekday {
                margin-top: 25px;

                .num-date{
                  @media screen and (max-width: $end-small) {
                    font-size: 20px;
                  }
                }
              }

              .close-day {
                display: block;
                position: absolute;
                right: 0;
                top: 22px;
                font-size: 27px;
                padding: 0px 20px;
                cursor: pointer;
                color: $alert;

                &:hover {
                  @media screen and (min-width: $mid-small) {
                    color: #333333;
                    opacity: .4;
                    transition: all .2s ease-in-out;
                  }
                }
              }
            }
          // }
          @keyframes grow{
            50%  {transform: scale(1, 1);}
          }
          @keyframes shrink{
            25%  {transform: scale(.5, .5);}
          }
        }
      }
    }
    .cur_trans_box{
        display: none;
    }
  }

  .add-item-form {
    position: fixed;
    bottom: -5px;
    right: 0px;
    font-size: 20px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    max-width: $end-small;
    transition:  width .4s, height .4s;
    transition-timing-function: ease-in-out;
    background: $textwht;
    border: 1px solid $textdrk;
    z-index: 99999;

    @media screen and (min-width: $end-small) {
      right: 50%;
      transform: translateX(50%);
    }

    &.show-form {
      position: fixed;
      margin: auto;
      bottom: 50%;
      height: 50%;
      width: 100%;
      max-width: $end-small;
      overflow: initial;
      transition: width .4s, height .4s, border-radius .5s;
      transition-timing-function: ease-in-out;
      background-color: $textwht;
      box-shadow: 1px 1px 10px $textdrk;
      float: none;
      overflow: auto;
      transform: translate(50%, 50%);
      color: $textdrk;
      border-radius: 0;

      //Edit scrollbar look and feel
      // &::-webkit-scrollbar {
      //   width: 3px;
      // }
      // &::-webkit-scrollbar-track {
      //   background: white; 
      // }
      // &::-webkit-scrollbar-thumb {
      //   background: $textdrk;
      //   border-radius: 20px;
      // }
      // &::-webkit-scrollbar-thumb:hover {
      //   background: $textdrk; 
      // }

      @media screen and (max-width: $end-small) {
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        transform: translateX(0);
      }

    }

    .form-nav {
      position: sticky;
      top: 0;
      padding: 20px 0 20px 20px;
      background: $alert;
      color: $textwht;
      h2 {
        margin: 0;
        margin-right: 54px;
      }
    }

    form {
      padding: 20px;
      margin: auto;

      @media screen and (min-width: $end-small) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .group {
          width: 47%;
        }

        .input-wrapper {
          width: 100%;

          div:first-of-type {
            height: 105px;
          }
        }
      }

      label {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        font-weight: bold;
      }

      .select-item, .checkbox {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
        margin: 20px 0;
        input {
          display: none;
        }

        label {
          font-weight: normal;
          display: inline;
          width: auto;
          padding: 10px;
          transition: all .3s ease-in-out;
          font-size: 15px;
        }

        .selected {
          background-color: rgba(255,0,0,.2);
          color: $alert;
          border-radius: 10px;
          transition: color .5s ease-in-out;
        }
      }

        select, .date-input input, .item-title input, .event-description textarea, .amount-input input, .location-input input, .time-input input{
        width: 100%;
        padding: 10px;
        border: 1px solid #c4c7cc;
        border-radius: 5px;
        margin: 10px 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 15px;
      }

      .date-input, .time-input {
        input {
          padding: 7.5px;
        }
      }

      textarea {
        height: 75px;
      }

      .event-description, .description-label, .amount-input, .amount-label, .location-label, .location-input, .time-input, .time-label {
        display: none;
      }

      .show-input {
        display: block;
      }

      ul {
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;

        @media screen and (max-width: $end-small) {
          justify-content: space-evenly;

          li {
            width: 150px;
          }
        }
        li{
            margin: 5px;
        }
      }

      button.submit-form {
        background-color: $alert;
        color: $textwht;
        border-radius: 10px;
        padding: 10px;
        border: 0;
        font-size: 15px;
        float: right;
        margin: 20px 0;
      }

    }

    .close-form {
      display: block;
      position: absolute;
      right: 0;
      top: 22px;
      font-size: 27px;
      padding: 0px 20px;
      cursor: pointer;
      color: $textwht;

      &:hover {
        @media screen and (min-width: $mid-small) {
          color: #333333;
          opacity: .4;
          transition: all .2s ease-in-out;
        }
      }
    }
  }

  .add-item-button {
    padding: 15px;
    position: fixed;
    bottom: 20px;
    font-size: 20px;
    border-radius: 100%;
    border: none;
    background-color: $alert;
    color: #fff;
    right: 20px;
    z-index: 999;

    &:hover {
      &:before {
        @media screen and (min-width: $mid-small) {
          color: #333333;
          opacity: .4;
          transition: all .2s ease-in-out;
        }
      }
    }

    @media screen and (min-width: $end-small) {
      right: 50%;
      transform: translateX(50%);
    }
  }
}